<html>
<head>
    <title>
        Project 2 - Python
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    {% block content %} {% endblock %}
</body>

</html>

<style>

h2{
    margin-top:3rem;
    margin-bottom:6rem;

}
.portfolio{
    display:flex;
    width:100vw;
    justify-content: center;
    margin-top:2rem;
}
.card-link, .card{
    height:400px;
    color:black;
    text-decoration: none;
}
.card img{
    height:70%;
}

</style>
